body {
    background: #0f172a;
    color: white;
    font-family: Arial;
    padding: 20px;
}

h1 {
    color: #38bdf8;
}

.box {
    background: #1e293b;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 10px;
}

a {
    display: inline-block;
    background: #22c55e;
    padding: 10px;
    color: black;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
}
